version = 0.1

[default.deploy.parameters]
stack_name = "cognis-production"
resolve_s3 = true
capabilities = "CAPABILITY_IAM"
confirm_changeset = true
region = "ap-south-1"
parameter_overrides = "CognisModelId=anthropic.claude-sonnet-4-6 CognisAutonomyThreshold=0.75 EnableCloudFront=false"
